[common]

a=piano/c2.wav
w=piano/ch2.wav
s=piano/d2.wav
e=piano/dh2.wav
d=piano/e2.wav
f=piano/f2.wav
t=piano/fh2.wav
g=piano/g2.wav
y=piano/gh2.wav
h=piano/a2.wav
u=piano/ah2.wav
j=piano/b2.wav
k=piano/c3.wav
