[common]
3 = dh3
2 = ch3
5 = fh3
7 = ah3
6 = gh3
c = e2
b = g2
e = e3
d = dh2
g = fh2
i = c4
h = gh2
j = ah2
m = b2
n = a2
q = c3
s = ch2
r = f3
u = b3
t = g3
w = d3
v = f2
y = a3
x = d2
z = c2

