[common]
q = c2
2 = ch2
w = d2
3 = dh2
e = e2
r = f2
5 = fh2
t = g2
6 = gh2
y = a2
7 = ah2
u = b2
i = c3
z = c3
s = ch3
x = d3
d = dh3
c = e3
v = f3
g = fh3
b = g3
h = gh3
n = a3
j = ah3
m = b3
, = c4



[0]
pianosize = 1
title = Pentatonic Scale (Mohanam)
notes = C D E G A C C A G E D C
note_1 = c2
note_2 = d2
note_3 = e2
note_4 = g2
note_5 = a2
note_6 = c3
note_7 = c3
note_8 = a2
note_9 = g2
note_10 = e2
note_11 = d2
note_12 = c2

[1]
pianosize = 1
title = C Major Scale
notes = C D E F G A B C C B A G F E D C
note_1 = c2
note_2 = d2
note_3 = e2
note_4 = f2
note_5 = g2
note_6 = a2
note_7 = b2
note_8 = c3
note_9 = c3
note_10 = b2
note_11 = a2
note_12 = g2
note_13 = f2
note_14 = e2
note_15 = d2
note_16 = c2

[2]

pianosize = 2
title = D Major Scale
notes = E F# G A B C# D E E D C# B A G F# E
note_1 = e2
note_2 = fh2
note_3 = g2
note_4 = a2
note_5 = b2
note_6 = ch3
note_7 = d3
note_8 = e3
note_9 = e3
note_10 = d3
note_11 = ch3
note_12 = b2
note_13 = a2
note_14 = g2
note_15 = fh2
note_16 = e2

[3]

pianosize = 2
title = Happy Birthday tune
notes = G G A G C3 B G G A G D3 C3 G G  G3 E3 C3 B A F3 F3 E3 D3 C3
note_1 = g2
note_2 = g2
note_3 = a2
note_4 = g2
note_5 = c3
note_6 = g2
note_7 = g2
note_8 = a2
note_9 = g2
note_10 = d3
note_11 = c3
note_12 = g2
note_13 = g2
note_14 = g3
note_15 = e3
note_16 = c3
note_17 = b2
note_18 = a2
note_19 = f3
note_20 = f3
note_21 = e3
note_22 = d3
note_23 = c3

[4]

pianosize = 2
title = Twinkle Twinkle little star tune
notes = C C G G A A G |  F F E E D D C | G G F F E E D | G G F F E E D | C C G G A A G | F F E E D D C
note_1 = c2
note_2 = c2
note_3 = g2
note_4 = g2
note_5 = a2
note_6 = a2
note_7 = g2
note_8 = f2
note_9 = e2
note_10 = e2
note_11 = d2
note_12 = d2
note_13 = c2
note_14 = g2
note_15 = g2
note_16 = f2
note_17 = f2
note_18 = e2
note_19 = e2
note_20 = d2
note_21 = g2
note_22 = g2
note_23 = f2
note_24 = f2
note_25 = e2
note_26 = e2
note_27 = d2
note_28 = c2
note_29 = c2
note_30 = g2
note_31 = g2
note_32 = a2
note_33 = a2
note_34 = g2
note_35 = f2
note_36 = f2
note_37 = e2
note_38 = e2
note_39 = d2
note_40 = d2
note_41 = c2

