[common]
q = c2
2 = ch2
w = d2
3 = dh2
e = e2
r = f2
5 = fh2
t = g2
6 = gh2
y = a2
7 = ah2
u = b2
i = c3
z = c3
s = ch3
x = d3
d = dh3
c = e3
v = f3
g = fh3
b = g3
h = gh3
n = a3
j = ah3
m = b3
, = c4

