[1]

song_name = Twinkle Twinkle little star
notes_len = 48
song_0 = ..
song_1 = Twinkle
song_2 = Twinkle
song_3 = Twinkle
song_4 = Twinkle
song_5 = Little
song_6 = Little
song_7 = Star
song_8 = ..
song_9 = How I
song_10 = How I
song_11 = Wonder
song_12 = Wonder
song_13 = What you
song_14 = What you
song_15 = Are
song_16 = ..
song_17 = Up above the
song_18 = Up above the
song_19 = Up above the
song_20 = Up above the
song_21 = World so
song_22 = World so
song_23 = High
song_24 = ..
song_25 = Like a
song_26 = Like a
song_27 = Diamond
song_28 = Diamond
song_29 = in the
song_30 = in the
song_31 = sky
song_32 = ..
song_33 = Twinkle
song_34 = Twinkle
song_35 = Twinkle
song_36 = Twinkle
song_37 = Little
song_38 = Little
song_39 = Star
song_40 = ..
song_41 = How I
song_42 = How I
song_43 = Wonder
song_44 = Wonder
song_45 = What you
song_46 = What you
song_47 = Are
note_0 = X
note_1 = C
note_2 = C
note_3 = G
note_4 = G
note_5 = A
note_6 = A
note_7 = G 
note_8 = X
note_9 = F
note_10 = F
note_11 = E
note_12 = E
note_13 = D
note_14 = D
note_15 = C
note_16 = X
note_17 = G
note_18 = G
note_19 = F
note_20 = F
note_21 = E
note_22 = E
note_23 = D
note_24 = X
note_25 = G
note_26 = G
note_27 = F
note_28 = F
note_29 = E
note_30 = E
note_31 = D
note_32 = X
note_33 = C
note_34 = C
note_35 = G
note_36 = G
note_37 = A
note_38 = A
note_39 = G
note_40 = X
note_41 = F
note_42 = F
note_43 = E
note_44 = E
note_45 = D
note_46 = D
note_47 = C


[2]
song_name = London Bridge is falling down
notes_len = 31 
song_0 = ..
song_1 = London
song_2 = London
song_3 = Bridge 
song_4 = is
song_5 = Falling
song_6 = Falling
song_7 = Down 
song_8 = ..
song_9 = Falling
song_10 = Falling
song_11 = Down
song_12 = ..
song_13 = Falling
song_14 = Falling
song_15 = Down
song_16 = ..
song_17 = London
song_18 = London
song_19 = Bridge
song_20 = is
song_21 = Falling
song_22 = Falling
song_23 = Down
song_24 = ..
song_25 = My
song_26 = ..
song_27 = Fair
song_28 = ..
song_29 = Lady
song_30 = Lady
note_0 = X
note_1 = G
note_2 = A
note_3 = G
note_4 = F
note_5 = E
note_6 = F
note_7 = G 
note_8 = X
note_9 = D
note_10 = E
note_11 = F
note_12 = X
note_13 = E
note_14 = F
note_15 = G
note_16 = X
note_17 = G
note_18 = A
note_19 = G
note_20 = F
note_21 = E
note_22 = F
note_23 = G
note_24 = X
note_25 = D
note_26 = X
note_27 = G
note_28 = X
note_29 = E
note_30 = C
