[twinklesong]
0 = ..
1 = Twinkle
2 = Twinkle
3 = Twinkle
4 = Twinkle
5 = Little
6 = Little
7 = Star
8 = ..
9 = How I
10 = How I
11 = Wonder
12 = Wonder
13 = What you
14 = What You
15 = Are
16 = ..
17 = Up above the
18 = Up above the
19 = Up above the
20 = Up above the
21 = World so
22 = World so
23 = High
24 = ..
25 = Like a
26 = Like a
27 = Diamond
28 = Diamond
29 = in the
30 = in the
31 = sky
32 = ..
33 = Twinkle
34 = Twinkle
35 = Twinkle
36 = Twinkle
37 = Little
38 = Little
39 = Star
40 = ..
41 = How I
42 = How I
43 = Wonder
44 = Wonder
45 = What you
46 = What You
47 = Are

[twinklenotes]
len = 48
0 = X
1 = C
2 = C
3 = G
4 = G
5 = A
6 = A
7 = G 
8 = X
9 = F
10 = F
11 = E
12 = E
13 = D
14 = D
15 = C
16 = X
17 = G
18 = G
19 = F
20 = F
21 = E
22 = E
23 = D
24 = X
25 = G
26 = G
27 = F
28 = F
29 = E
30 = E
31 = D
32 = X
33 = C
34 = C
35 = G
36 = G
37 = A
38 = A
39 = G
40 = X
41 = F
42 = F
43 = E
44 = E
45 = D
46 = D
47 = C


[londonsong]
0 = ..
1 = London
2 = London
3 = Bridge 
4 = is
5 = Falling
6 = Falling
7 = Down 
8 = ..
9 = Falling
10 = Falling
11 = Down
12 = ..
13 = Falling
14 = Falling
15 = Down
16 = ..
17 = London
18 = London
19 = Bridge
20 = is
21 = Falling
22 = Falling
23 = Down
24 = ..
25 = My
26 = ..
27 = Fair
28 = ..
29 = Lady
30 = Lady

[londonnotes]
len = 31
0 = X
1 = G
2 = A
3 = G
4 = F
5 = E
6 = F
7 = G 
8 = X
9 = D
10 = E
11 = F
12 = X
13 = E
14 = F
15 = G
16 = X
17 = G
18 = A
19 = G
20 = F
21 = E
22 = F
23 = G
24 = X
25 = D
26 = X
27 = G
28 = X
29 = E
30 = C
